=render(layout: 'group/layouts/layout') do
  %h4
    %a.left-arrow.left{href: group_group_topic_path(group_group_id: @group, id: @topic, anchor: @comment.id)} &#10092;
    = t('group.comments.edit.h4_title')
  .row
    .columns.small-12
      = render partial: 'form'