= render layout: 'group/layouts/group_creation', locals: {step: 1} do
  %h2= t('groups.groups.new.title')
  = simple_form_for @group do |f|
    =f.input :name
    =f.button :submit, t('group.layouts.next'), class: 'right'