-#LAYOUT DES USERS
%h1
  = @user.name
  =link_to t('header.user.edit'), edit_user_registration_path(view: :general), class: 'button tiny'
.row
  .large-3.columns
    =render 'menu'
  .large-9.columns
    -#contenu
    =yield