%ul.collaide-side-nav
  = build_active_menu :show, link_to(foundation_icons('fi-info large') + t('users.side_nav.infos'), user_path(@user))
  %li.divider
  = build_active_menu :groups, link_to(foundation_icons('fi-torsos-male-female large') + t('users.side_nav.groups'), user_groups_path(@user))
  %li.divider
  %li
    = link_to(foundation_icons('fi-page-multiple large') + 'Mes documents', user_groups_path(@user))
  %li.divider
  %li
    = link_to foundation_icons('fi-compass large') +'Notifications', user_groups_path(@user)