=render(layout: 'layout') do
  -if @groups.empty?
    %p= t('users.groups.no_group')
    -#TODO: Ajouter le lien pour créer un nouveau groupe et changer en un formulaire
    =link_to t('groups.buttons.create'), '#', class: 'button'