.columns.small-24
  .panel.items
    %h6.subheader
      -if not topic.title.blank?
        %strong=topic.title
      -if topic.user.nil?
        =t('group.topics.index.no_author')
      -else
        =t('group.topics.index.author')
      = t('group.topics.index.time_ago', time_ago: time_ago_in_words(topic.created_at))

      -#= link_to(t('group.statuses.index.edit'), '#', class: 'button small secondary')
    .row
      .columns.small-22.push-1
        =(topic.message).html_safe
        %hr
        -collection = topic.comments