%hr
.clearfix
  .left
    = link_to t('groups.layouts.cancel'), root_path, class: 'left', confirm: t('groups.layouts.confirm')
  .right
    .row
      .columns.small-6
        = link_to t('groups.layouts.backward'), backward, class: 'std-button'
      .columns.small-6
        %input{type: 'submit', name: 'commit', value: t('groups.layouts.next'), class: 'std-button-i'}