%h1= t('groups.group_creation.user_login.h1_title')

%h5= t('groups.group_creation.user_login.with_email')
=simple_form_for @group_creation, url: group_group_create_user_login_path(group_group_id: @group) do |t|
 =t.input :email
 =t.button :submit, t('groups.group_creation.user_login.submit')