.row
  .columns.small-12
    .left
      %ul.breadcrumbs
        %li#home
          %a{href: "{{$('base').attr('href')}}"} Home
        %li{'ng-repeat' => 'element in current_item.breadcrumb', 'ng-class' => '{current: $last}'}
          %a{href: '{{element.id}}'}
            {{element.name}}
    .right
      .row.collapse
        .columns.small-9
          %input{type: 'text', 'ng-model' => 'folder_name', placeholder: 'Nom du dossier'}
        .columns.small-3
          %a.button.button.postfix{'ng-click' => 'createFolder(folder_name, current_item)'}
            %i.fi-plus.large
%p{'ng-hide' => 'items.length'} Aucun fichiers ou dossiers pour le moment
%table{'ng-show' => 'items.length'}
  %thead
    %tr
      %th
        %input{type: 'checkbox'}
      %th Nom
      %th Taille
      %th Auteur
      %th Modifié
  %tbody
    %tr{'ng-repeat' => 'item in items'}
      %td
        %input{type: 'checkbox'}
      %td{width: '500'}
        %a{href: 'repo_items/{{item.id}}'}
          {{item.name}}
      %td
        {{item.is_folder === true ? '-' : item.size}}
      %td
        <a href="{{item.sender.url}}" ng-hide="{{item.sender.you}}">{{item.sender.name}}</a>
        <span ng-show="{{item.sender.you}}">Vous</span>
      %td
        {{item.updated_at}}