.view-container{'ng-file-drop' => true, 'ng-model' => 'files', 'drag-over-class' => 'dragover',
'ng-multiple' => 'true', 'allow-dir' => 'true'}
  .view-frame
    .sticky-element
      .row
        .columns.small-7
          %div{'ng-include' => '"breadcrumb.html"'}
        .columns.small-5
          .row.collapse
            .columns.small-1
              %a.button.prefix{'data-dropdown' => 'drop2', 'aria-controls' => 'drop2', 'aria-expanded' => 'false'}
                %i.fi-clipboard
            .columns.small-1{'ng-show' => '!current_item || (current_item && current_item.is_folder)'}
              %a.button.prefix.success{'ng-file-select' => true, 'ng-file-change' => 'upload($files, current_item)',  'ng-multiple' => 'true'}
                %i.fi-arrow-up.large
            .columns.small-9{'ng-show' => '!current_item || (current_item && current_item.is_folder)'}
              %input{type: 'text', 'ng-model' => 'folder_name', placeholder: 'Nom du dossier', 'ng-class' => '{error: folder_error}'}
              %small.error{'ng-show' => 'folder_error'}
                {{folder_error}}
                %a{href: '#', class: 'close', 'ng-click' => 'folder_error=false'}= '&times;'.html_safe
            .columns.small-1{'ng-show' => 'current_item && current_item.is_folder'}
              %a.button.button.success.postfix{'ng-click' => 'createFolder(folder_name, current_item)'}
                %i.fi-plus.large
      .row
        .columns-small-12
          #drop2.f-dropdown.content.mega{'data-dropdown-content' => true, 'aria-hidden' => 'true', 'tabindex' => '-1'}
            %p Le presse-papier est actuellement vide. Des éléments sont ajoutés quand vous copier ou déplacer des fichiers ou des dossiers.
    .row
      .columns.small-12{'ng-show' => 'current_item && !current_item.is_folder'}
        %h4
          {{current_item.name}}
          .right
            %a{href: '{{current_item.download_path}}', target: '_blank'}
              %i.fi-download.large
            %i.fi-pencil.large
            %i.fi-x.large
      .columns.small-12{'ng-show' => 'current_item'}
        %p
          Modifié il y {{current_item.updated_at}}
          \/
          <span ng-show="current_item.is_folder">Dossier</span>
          <span ng-hide="current_item.is_folder">{{print_type(current_item)}}</span>
          \/
          Créé par
          <a href="{{current_item.sender.url}}" ng-hide="{{current_item.sender.you}}">{{current_item.sender.name}}</a>
          <span ng-show="{{current_item.sender.you}}">Vous</span>
      .columns.small-12
        %div{'ng-include' => '"folder_view.html"', 'ng-if' => '!current_item || current_item.is_folder'}
        .modal{'ng-if' => 'current_item.is_image'}
          %a{href: '#', 'data-reveal-id' => 'image-modal'}
            <img ng-src="{{current_item.download_path}}"/>
          #image-modal.reveal-modal{'data-reveal' => true}
            <img ng-src="{{current_item.download_path}}"/>
            %a.close-reveal-modal &#215;
        %pre{'ng-if' => 'current_item.content'}
          {{current_item.content}}
    :javascript
      $('.sticky-element').stickyJQuery({topSpacing: 0})