<html>
    <head>
      <link href="<%= stylesheet_url 'application' %>" media="screen" rel="stylesheet" />
    </head>
  <body>
    <div class="row">
      <div class="columns.small-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
